.taskItem {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 0;
  position: relative;

  input {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  svg {
    path {
      display: none;
    }
  }

  span {
    -webkit-tap-highlight-color: transparent;
  }
}

.completed {
  color: var(--app-color-text-alt);
  font-style: italic;
  text-decoration: line-through;

  svg {
    path {
      display: initial;
    }
  }
}
