.button {
	--btn-background: transparent;
	--btn-border-color: transparent;
	--btn-color: inherit;

  background-color: var(--btn-background);
	color: var(--btn-color);
	border: 1px solid var(--btn-border-color);
  border-radius: var(--app-border-radius);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.isStylePrimary {
	--btn-background: var(--app-color-accent);
	--btn-border-color: var(--app-color-accent);
	--btn-color: var(--app-color-alt);
}

.isStyleSecondary {
	--btn-background: transparent;
	--btn-border-color: var(--app-color-border);
	--btn-color: var(--app-color-color);
}

.isStyleIcon {
  --btn-background: transparent;
  border: 0 none;
  padding: 0;
  cursor: pointer;
}

.isStyleDestructive {
	--btn-border-color: var(--app-color-danger);
	--btn-color: var(--app-color-text);

	&:not(.isStyleIcon) {
		--btn-background: var(--app-color-danger);
	}

	&.isStyleIcon{
		--btn-color: var(--app-color-danger);
	}
}

.isStyleOutline {
		--btn-background: transparent;
		--btn-color: var(--app-color-danger);
}

.isStyleSimple {
	--btn-color: var(--btn-background);
	background: none;
	border: 0 none;
	margin: 0;
	padding: 0 0.5rem;

	&:hover{
		text-decoration: underline;
	}
}
