.taskForm {
  display: flex;
  gap: 1rem;
  margin-top: 5rem;

  input {
    background-color: transparent;
    border: 0 none;
    border-bottom: 1px solid var(--app-color-border);
    font-style: italic;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  button {
    align-self: flex-end;
    margin-top: 0;
    white-space: nowrap;
  }
}
